/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  /* Previously capped to ~42em (~672px) which constrains wide layouts */
  width: 90vw;
  max-width: 1200px;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 0;
}

.nav-masthead .nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (max-width: 991.98px) {
  .nav-masthead .nav-item + .nav-item {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .nav-masthead .nav-link {
    padding: 0.5rem 0;
    border-bottom-width: 0.2rem;
  }
}

.navbar .navbar-brand span {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: #f5f7ff;
}

.navbar .navbar-brand {
  color: #f5f7ff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f5f7ff;
}
